<ion-content>
  <div class="header-container">
    <div class="tool_icons">
      <div>
        <ion-icon class="send-icon" name="qr-code-outline"></ion-icon>
        <ion-icon class="send-icon" name="create-outline"></ion-icon>
      </div>
    </div>
    <div class="logo-container">
      <img class="image" src="/assets/img/images.jfif">
      <div class="tool-size">
        <h1>Avinash</h1>
        <p>764655434</p>
      </div>
    </div>
  </div>


  <div class="form-input">
    <div>
      <ion-icon color="primary" name="person-circle-outline"></ion-icon>
      <ion-label>Personal information</ion-label>
    </div>
    <div>
      <ion-icon class="send-icon" name="chevron-forward-outline"></ion-icon>
    </div>
  </div>
  <div class="form-input">
    <div>
      <ion-icon color="primary" name="card-outline"></ion-icon>
      <ion-label>Cards management</ion-label>
    </div>
    <div>
      <ion-icon class="send-icon" name="chevron-forward-outline"></ion-icon>
    </div>
  </div>
  <div class="form-input">
    <div>
      <ion-icon color="primary" name="finger-print-outline"></ion-icon>
      <ion-label>Privacy & security</ion-label>
    </div>
    <div>
      <ion-icon class="send-icon" name="chevron-forward-outline"></ion-icon>
    </div>
  </div>
  <div class="form-input">
    <div>
      <ion-icon color="primary" name="call-outline"></ion-icon>
      <ion-label>Support</ion-label>
    </div>
    <div>
      <ion-icon class="send-icon" name="chevron-forward-outline"></ion-icon>
    </div>
  </div>
  <div class="action-buttons ion-padding">
    <div>
      <button (throttledClick)="logout-button">logout</button>
    </div>
  </div>
</ion-content>